KUBE_LOGTOSTDERR="--logtostderr=true"
KUBE_LOG_LEVEL="--v=0"
NODE_HOSTNAME="--hostname-override={{ ansible_hostname }}"
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image={{ image }}"
KUBELET_CONTAINER_RUNTIME="--container-runtime=docker --container-runtime-endpoint=unix:///var/run/dockershim.sock"
KUBE_LOG_ARGS="--log-dir={{ log_dir }} --log-file={{ log_dir }}/{{ log_file }} --log-file-max-size=1800 --log-flush-frequency=5s"
KUBELET_ARGS="--register-node=true --root-dir={{ kubelet_dir }} --bootstrap-kubeconfig={{ config_dir }}/{{ bootstrap_kubeconfig }} --cert-dir={{ config_dir }}/pki --config={{ config_dir }}/{{ kubelet_confing }} --kubeconfig={{ config_dir }}/{{ kubelet_kubeconfig }}"
