[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{ config_dir }}/{{ config_file }}
ExecStart={{ bin_dir }}/kube-scheduler \
            $KUBE_LOGTOSTDERR \
            $KUBE_LOG_LEVEL \
            $KUBE_ADDRESSES \
            $KUBE_SCHEDULER_PORT \
            $KUBE_SCHEDULER_TLS_CERT_FILE \
            $KUBE_SCHEDULER_TLS_PRIVATE_KEY_FILE \
            $KUBE_LEADER_ELECT \
            $KUBE_LOG_ARGS \
            $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
