KUBE_ADDRESSES="--bind-address={{ ansible_default_ipv4.address }}"
KUBE_SCHEDULER_PORT="--secure-port=10259"

KUBE_SCHEDULER_TLS_CERT_FILE="--tls-cert-file={{ cert_dir }}/{{ scheduler_certfile }}"
KUBE_SCHEDULER_TLS_PRIVATE_KEY_FILE="--tls-private-key-file={{ cert_dir }}/{{ scheduler_keyfile }}"

KUBE_SCHEDULER_CONFIG="--authentication-kubeconfig={{ config_dir }}/{{ scheduler_kubeconfig }} --authorization-kubeconfig={{ config_dir }}/{{ scheduler_kubeconfig }}"
KUBE_LEADER_ELECT="--leader-elect=true --leader-elect-lease-duration=15s --leader-elect-renew-deadline=10s --leader-elect-resource-lock=endpoints --leader-elect-resource-name=kube-scheduler --leader-elect-resource-namespace=kube-system --leader-elect-retry-period=2s"

REQUESTHEADER_ALLOWED_NAMES="--requestheader-allowed-names"
REQUESTHEADER_CLIENT_CA_FILE="--requestheader-client-ca-file={{ cert_dir }}/{{ ca_certfile }}"
REQUESTHEADER="--requestheader-extra-headers-prefix=X-Remote-Extra- --requestheader-group-headers=X-Remote-Group --requestheader-username-headers=X-Remote-User"

KUBE_LOG_ARGS="--alsologtostderr=true --log-dir={{ log_dir }} --log-file={{ log_dir }}/{{ log_file }} --log-file-max-size=1800 --log-flush-frequency=5s --logging-format=text --logtostderr=true --skip-headers=true --skip-log-headers=true --stderrthreshold=2 --v=2"
KUBE_SCHEDULER_ARGS="--config={{ config_dir }}/{{ scheduler_config }}"
