global  
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
                    
defaults                  
        log     global
        mode    http    ##默认模式{tcp|http|health},tcp是4层,http是7层，health只会返回OK
        option  httplog          ##日志类别:http日志格式
        option  dontlognull           ##不记录健康检查的日志信息
        retries 3                       ##3次连接失败就认为服务不可用
        option  redispatch          ##ServerID对应的服务器挂掉后,强制定向到其他健康服务器
        maxconn 4000                         ##默认最大连接数
        timeout connect      5000                    ##连接超时
        timeout client      50000                   ##客户端超时
        timeout server      50000                   ##服务端超时

listen  admin_stats
        bind 0.0.0.0:10080
        mode http
        log 127.0.0.1 local0 err
        stats refresh 30s
        stats uri /status
        stats realm Welcome login\ Haproxy
        stats auth admin:admin
        stats hide-version
        stats admin if TRUE

listen kube-master
        bind 0.0.0.0:8443
        mode tcp
        option tcplog
        balance source
         
        server  master1 192.168.100.181:6443  check inter 2000 rise 2 fall 3
        server  master2 192.168.100.182:6443  check inter 2000 rise 3 fall 3
        ##服务器定义(check指健康状况检查，inter 2000指检测频率;rise 2指从离线状态转换至正常状态需要成功检查的次数；fall 3指失败3次即认为服务器不可用)
