KUBE_LOGTOSTDERR="--logtostderr=true"
KUBE_LOG_LEVEL="--v=0"
KUBE_ADDRESSES="--bind-address=127.0.0.1"

KUBE_CLUSTER_SIGINING_CERT_FILE="--cluster-signing-cert-file=/etc/kubernetes/ssl/ca.pem"
KUBE_CLUSTER_SIGINING_KEY_FILE="--cluster-signing-key-file=/etc/kubernetes/ssl/ca-key.pem"
KUBE_CONTROLLER_MANAGER_ROOT_CA_FILE="--root-ca-file=/etc/kubernetes/ssl/ca.pem"
KUBE_CONTROLLER_MANAGER_SERVICE_ACCOUNT_PRIVATE_KEY_FILE="--service-account-private-key-file=/etc/kubernetes/ssl/ca-key.pem"

KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range=10.244.0.0/16"
KUBE_LEADER_ELECT="--leader-elect=true"
KUBE_CONTROLLER_MANAGER_ARGS="--cluster-name=kubernetes --controllers=*,bootstrapsigner,tokencleaner --deployment-controller-sync-period=30s --experimental-cluster-signing-duration=8760h --kubeconfig=/etc/kubernetes/controller-manager.kubeconfig --log-dir=/var/log/kube --feature-gates=RotateKubeletServerCertificate=true --use-service-account-credentials=true"
