[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/zh/docs
After=network.target

[Service]
EnvironmentFile=-{{ config_dir }}/{{ config_file }}
ExecStart={{ bin_dir }}/kube-apiserver \
            $KUBE_API_ADDRESS \
            $KUBE_API_PORT \
            $KUBE_SERVICE_ADDRESSES \
            $KUBE_ETCD_SERVERS \
            $KUBE_ETCD_CAFILE \
            $KUBE_ETCD_CERTFILE \
            $KUBE_ETCD_KEYFILE \
            $KUBE_ETCD_CONFIG \
            $KUBE_ENABLE_ADMISSION_PLUGINS \
            $KUBE_SERVICE_ACCOUNT_ISSUER \
            $KUBE_CLIENT_CA_FILE \
            $KUBE_SERVICE_ACCOUNT_KEY_FILE \
            $KUBE_SERVICE_ACCOUNT_SIGNING_KEY_FILE \
            $KUBE_API_TLS_CERT_FILE \
            $KUBE_API_TLS_PRIVATE_KEY_FILE \
            $KUBELET_CLIENT_CERTIFICATE \
            $KUBELET_CLIENT_KEY \
            $KUBELET_CONFIG \
            $PROXY_CLIENT_CERTIFICATE \
            $PROXY_CLIENT_KEY_FILE \
            $REQUESTHEADER_ALLOWED_NAMES \
            $REQUESTHEADER_CLIENT_CA_FILE \
            $REQUESTHEADER_CONFIG \
            $KUBE_AUDIT_LOG_ARGS \
            $KUBE_LOG_ARGS \
            $KUBE_API_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
