[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target
After=etcd.service

[Service]
EnvironmentFile=-/etc/kubernetes/apiserver
ExecStart=/usr/bin/kube-apiserver \
            $KUBE_LOGTOSTDERR \
            $KUBE_LOG_LEVEL \
            $KUBE_ETCD_SERVERS \
            $KUBE_ETCD_CAFILE \
            $KUBE_ETCD_CERTFILE \
            $KUBE_ETCD_KEYFILE \
            $KUBE_API_ADDRESS \
            $KUBE_API_PORT \
            $KUBE_SERVICE_ADDRESSES \
            $KUBE_ENABLE_ADMISSION_PLUGINS \
            $KUBE_API_CLIENT_CA_FILE \
            $KUBE_API_SERVICE_ACCOUNT_KEY_FILE \
            $KUBE_API_TLS_CERT_FILE \
            $KUBE_API_TLS_PRIVATE_KEY_FILE \
            $KUBELET_CLIENT_CERTIFICATE \
            $KUBELET_CLIENT_KEY \
            $KUBE_API_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
