#!/bin/bash
## 配置变量
config()
{
## 设置集群参数
kubectl config set-cluster {{ cluster_name }} \
  --certificate-authority={{ ssl_path }}/{{ ca_file }} \
  --embed-certs=true \
  --server={{ apiserver }} 

## 设置客户端认证参数
kubectl config set-credentials kubernetes-admin \
  --client-certificate={{ ssl_path }}/{{ apiserver_kubelet_client_file }} \
  --embed-certs=true \
  --client-key={{ ssl_path }}/{{ apiserver_kubelet_client_key_file }}

## 设置关联参数
kubectl config set-context kubernetes \
  --cluster={{ cluster_name }} \
  --user=kubernetes-admin

## 设置默认关联
kubectl config use-context kubernetes
}

## 配置 kubeconfig
LOCAL_ADDRESS=`ip addr|grep secondary|awk '{print $2}'|cut -c 1-15`
if [ $LOCAL_ADDRESS == {{ vip }} ];
then
    config
fi
